body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #17bbec;
    text-align: center;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(221, 68, 68, 0.1);
    display: inline-block;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 90%;
    max-width: 300px;
}

button {
    background-color: rgba(38, 200, 221, 0.733);
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
